{{- /*
For a given taxonomy, renders a list of terms assigned to the page.

@context {page} page The current page.
@context {string} taxonomy The taxonomy.

@example: {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
*/}}

{{- $page := .page }}
{{- $taxonomy := .taxonomy }}

{{- with $page.GetTerms $taxonomy }}
  {{- $label := (index . 0).Parent.LinkTitle }}
  <div class="{{ $label }}">
    {{ if ne $label "Tags" }}<div>{{ $label }}:</div>{{ else }}{{ partial "svg/tags.svg" }}{{ end }}
    <ul>
      {{- range . }}
        <li><a href="{{ .RelPermalink }}">{{ if eq $label "Tags" }}#{{ end }}{{ .Title | lower }}</a></li>
      {{- end }}
    </ul>
  </div>
{{- end }}
